#logo {
    position: absolute;
    top: 32px;
    left: 50px;
    width: 210px;
    height: auto;
  color: white;}
  #logo .fill-white{
    fill:white
  }
  @media (max-width:960px) {
    #logo{
      left: 50%;
      top: 50%;
      width: 200px;
      margin-top: -5px;
      margin-left: 15px;
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      z-index: 55;    }
  }